<launch>
    <arg name="robot" default="$(optenv ROBOT rto-1)" doc="Robot type [rto-1]"/>
    <arg name="robot_env" default="$(optenv ROBOT_ENV simple_world)" doc="Simulation world [simple_world, hallway_loop]"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find rto_worlds)/worlds/$(arg robot_env).world"/> 
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find rto_description)/urdf/$(arg robot).urdf.xacro" />
    
    <group ns="robot1">
        <param name="tf_prefix" value="robot1_tf" />
        <include file="$(find mas)/launch/one_robot.launch">
            <arg name="x_pos" default="0.0"/>
            <arg name="y_pos" default="0.0"/>
            <arg name="z_pos" default="0.0"/>
            <arg name="name"  value="Robot1" />
        </include>
    </group>
    <group ns="robot2">
        <param name="tf_prefix" value="robot2_tf" />
        <include file="$(find mas)/launch/one_robot.launch">
            <arg name="x_pos" default="1.0"/>
            <arg name="y_pos" default="0.0"/>
            <arg name="z_pos" default="0.0"/>
            <arg name="name"  value="Robot2" />
        </include>
    </group>
</launch>